.itemsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 1rem 6.25rem;
}
.item {
    width: 14rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    margin: 1.5rem !important;
    background: #15181d;
    box-shadow: rgba(170, 170, 255, 0.1) 0px 1px 0px, rgba(173, 173, 255, 0.1) 0px 8px 24px, rgba(171, 171, 255, 0.1) 0px 16px 48px;
    border-radius: 10px !important;
    cursor: pointer;
    transition:.3s all ease-in-out !important;
    padding: 0 !important;
}
.item img {
    width: 100%;
    height: 18rem;
    border-radius: 10px 10px 0 0;
   
    
}
.item:hover {
    transform: scale(1.05);
}
.itemInfo {
    height: 7rem;
    padding: 10px;
    color: #eeeeee;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.itemInfo h2 {
    text-align: center;
    font-size: .875rem;
    margin: 2px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.itemInfo p {
    font-size: .75rem;
}

.rateAndYear {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: .875rem;
    max-height: 2rem;
}
#rate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .5rem;
    border-radius: 6px;
    background: #003087;
}
#type {
    text-transform: capitalize;
}
@media all and (min-width:850px){
    .item {
        width: 20rem;
        height: 34rem;
    }

    .item img {
        height: 25rem;
    }

    .itemInfo {
        height: 8rem;
    }
    
    .itemInfo h2 {
        font-size: 1.25rem;
    }
}