 
 .searchBarContainer {
        display: flex;
        width: 17rem;
        background: #eeeeee;
        border-radius: 2px;
        padding: .75rem;
    }

.searchBarContainer i {
    font-size: .875rem;
    margin-right: .75rem;
    color: #222831;
}

.search {
    font-size: .875rem;
    outline: none;
    border: none;
    background: none;
    color: #222831;
}

@media all and (min-width:850px) {
    .searchBarContainer {
        width: 22rem;
        padding: 1rem;
}

    .search {
        font-size: 1.25;
    }

    .searchBarContainer i {
        font-size: 1.25rem;
    }
}