 
 .searchBarContainer{
        display: flex;
        background: #eeeeee;
        border-radius: 2px;
        padding: 10px;
    }
    .searchBarContainer i{
        font-size: 14px;
        margin-right: 10px;
        color: #222831;
    }
    .search{
        font-size: 14px;
        outline: none;
        border: none;
        background: none;
        color: #222831;
    }

@media all and (min-width:851px) {
    .searchBarContainer{
    padding: 15px;
}
.search{
    font-size: 20px;
}
.searchBarContainer i{
    font-size: 20px;
}
}