@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
 
}

body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: #222831;
  color: #eeeeee;
}
::selection{
  background-color: #003087;
}
.app{
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 180px;
  margin-bottom: 100px;
  min-height: 100vh;
  width: 100vw;
}
.hide{
  display: none;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #15181d !important;
}

.genres{
  display: flex;
  color: #eeeeee;
  margin: 0 100px 20px 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.categoriesBtn{
  background: transparent;
  color: #eeeeee;
  border: none;
cursor: pointer;
font-size: 14px;
}
.pagination{
  margin-bottom: 100px;
  display: flex;
}
.pagination ul li button{
  color: #eeeeee !important;
}
::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background-color: #313a47;

}

::-webkit-scrollbar-thumb {
  background-color: #1c2128;
  border-radius: 2px;
}
@media all and (max-width:850px){
  .container{
    margin-top: 220px;
  }
  p{
    font-size: 14px;
  }
  .pagination ul{
    justify-content: center;
  }
  .genres{
    margin: 10px;
  }
}
